/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog-window {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  width: 95%;

  @media screen and (min-width: 768px) {
    width: 75%
  }
  
  @media screen and (min-width: 992px) {
    width: 50%;
    max-width: 600px;
  }
}

.modal-dialog-window  {
  label {
    font-size: .75rem;
    color: #999;
  }
}

.save-search-modal {
  .validation-msg {
    color: red;
  }
}

.saved-search-list {
  list-style-type: none;
  padding-left: 0;
  max-height: 70vh;
  overflow: scroll;
  border: 1px solid #999;
  
  li {
    cursor: pointer;
    padding: 8px;
    
    &:hover {
      background: #999 !important;
      color: white;
    }

    &:nth-child(odd) {
      background: #eee;
    }
  }
}

.saved-search-list-main {
  list-style-type: none;
  padding-left: 0;

  li {
    cursor: pointer;
    padding: 8px;
    
    &:first-child {
      cursor: inherit;
    }
    
    &:hover:not(:first-child) {
      background: #999 !important;
      color: white;
    }
  }
}


/* Utilities */
.hide {
  display: none !important;
}

.nav-toggle {
  position: relative;
  height: 2.25rem;
  z-index: 102;
  transition: transform 200ms;
}

.pop-out-menu {
  position: absolute;
  height: 100vh;
  top: 0;
  padding: 20px;
  z-index: 101;
  background: rgba(242, 242, 242, .95);
  transform: translateX(-250px);
  transition: transform 200ms;
  
  &.active {
    transform: translateX(0);
  }

  &> ul {
    list-style-type: none;
    padding-top: 40px;
    padding-left: 0;

    li {
      font-size: 1.25rem;
      cursor: pointer;
      margin-bottom: .5rem;
      text-transform: uppercase;
      border-radius: 10px;
      padding: 5px;

      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}

.pop-out-menu-active {
  transform: translateX(220px);
}

.container {
  transition: transform 200ms;
}

.magnifying-glass {
  &:nth-child(1) {
    height: 3rem;
  }

  &:nth-child(2) {
    height: 4rem;
  }

  &:nth-child(3) {
    height: 5rem;
  }
}

.search {
  border-right: 0;
}

.combine-btn {
  border-radius: 0;
  border-right: 0;
}

.combine-list-container  {
  position: relative;
}

.combine-list-container ul {
  display: none;
  position: absolute;
  left: 0;
  padding-left: 0;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  list-style-type: none;
  z-index: 1000;
  width: 8rem;
}

.combine-list-container {
  ul {
    li {
      padding: .375rem .75rem;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
}

.remove-from-search-btn {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.move-search {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#saved-search-container {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      cursor: pointer;
    }
  }
}

.new-tab {
  height: 24px;
  width: 24px;
}

.result-lists {
  overflow: scroll;
}

.list-container {
  margin: 5px;
  transition: width 200ms linear;
  display: flex;
  width: 100%;
  min-width: 400px;

  @media screen and (max-width: 400px) {
    min-width: 90vw;
  }
}

.list-container {
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  ul {
    width: 100%;
  }
}

.description {
  display: none;
}

.form-control {
  height: calc(1.5em + .75rem + 4px);
}

.footer-copyright {
  font-size: .5rem;
  color: #999;
}
