<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Multi Search</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/dragula.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<script defer src="js/script.js?v=1"></script>
</head>
<body>
	<nav class="mb-5">
		<div class="menu">
			<div class="d-flex">
				<div id="open-save-modal"><img src="/icons/save.svg"></div>
				<div id="open-update-modal"><img src="/icons/edit.svg"></div>
				<div id="open-load-modal"><img src="/icons/archive.svg"></div>
			</div>
			<div id="open-settings-modal"><img src="/icons/settings.svg"></div>
		</div>
	</nav>

	<div class="container">
		{{{body}}}
	</div>

	<footer class="mt-5 text-center">
		<small class="footer-copyright">Multi Search &copy; 2019</small>
	</footer>
</body>
</html>