<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Multi Search</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/dragula.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<nav>
		<img src="/icons/menu.svg" class="nav-toggle" data-toggle="closed">
		<div class="menu">
			<div>
				<div id="open-save-modal"><img src="/icons/save.svg"><span class="d-inline d-sm-none"> Save Search</span></div>
				<div id="open-update-modal"><img src="/icons/edit.svg"><span class="d-inline d-sm-none"> Update Search</span></div>
				<div id="open-load-modal"><img src="/icons/archive.svg"><span class="d-inline d-sm-none"> Load Search</span></div>
			</div>
			<div id="open-settings-modal"><img src="/icons/settings.svg"><span class="d-inline d-sm-none"> Settings</span></div>
		</div>
	</nav>

	<div class="container">
		{{{body}}}
	</div>

	<footer class="mt-5 text-center">
		<small class="footer-copyright">Multi Search &copy; 2019</small>
	</footer>
	<script src="js/script.js"></script>
</body>
</html>