<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Multi Search</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/dragula.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<nav>
		<img src="/icons/menu.svg" class="ml-3 mt-2 nav-toggle" data-toggle="closed">
		<div class="pop-out-menu">
			<ul>
				<li id="open-save-modal"><img src="/icons/save.svg"> Save Search</li>
				<li id="open-update-modal"><img src="/icons/edit.svg"> Update Search</li>
				<li id="open-load-modal"><img src="/icons/archive.svg"> Load Search</li>
				<li><img src="/icons/settings.svg"> Setting</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		{{{body}}}
	</div>
	<script src="js/script.js"></script>
</body>
</html>