.description {
  display: none;
}

.list-container {
  margin: 5px;
  transition: width 200ms linear;
}
.list-container:first-child {
  margin-left: 0;
}
.list-container:last-child {
  margin-right: 0;
}

.new-tab {
  height: 24px;
  width: 24px;
}
