.search {
  border-right: 0;
}

.combine-btn {
  border-radius: 0;
  border-right: 0;
}

.combine-list-container  {
  position: relative;
}

.combine-list-container ul {
  display: none;
  position: absolute;
  left: 0;
  padding-left: 0;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  list-style-type: none;
  z-index: 1000;
  width: 8rem;
}

.combine-list-container ul li {
  padding: .375rem .75rem;
  cursor: pointer;
}

.combine-list-container ul li:hover {
  background: #eee;
}

.remove-from-search-btn {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.move-search {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.new-tab {
  height: 24px;
  width: 24px;
}

.result-lists {
  overflow: scroll;
}

.list-container {
  margin: 5px;
  transition: width 200ms linear;
  display: flex;
  width: 100%;
  min-width: 400px;
}

@media screen and (max-width: 400px) {
  .list-container {
    min-width: 90vw;
  }
}

.list-container:first-child {
  margin-left: 0;
}
.list-container:last-child {
  margin-right: 0;
}

.list-container ul {
  width: 100%;
}

.description {
  display: none;
}

.form-control {
  height: calc(1.5em + .75rem + 4px);
}
